// 
// Modules
//

.project-name {
    font-size: 60px;
}
.project-tagline {
    font-size: 24px;
    opacity: 0.7;
    font-weight: 400;
}

.btn-download {
    background-color: @brand-primary;
    color: #fff;
    border-radius: 0;
    transition: 0.3s ease;
    font-size: 20px;

    &:hover {
        background-color: darken(@brand-primary, 10%);
    }
}
.viewmore {
    position: relative;
    min-height: 63px;
}
.small-link {
    text-decoration: none;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}
// Dropzone styling
.dz-hidden-input {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}
.icon-upload {
    text-align: center;
    font-size: 60px;
}
.dz-message {
    margin: 10px 0 !important;
}
#dropzone {
    border: 2px dashed #ccc;
    margin-bottom: 20px;
}

.drows {
  p, select, button {
    display: inline;
  }

  button {
    margin-left: 20px;
  }
}

.parsley-error,
.parsley-error:focus {
    border-color: red !important;
    box-shadow: none;
}

.parsley-errors-list {
    color: red;
    list-style: none;
    padding: 0;
    margin: 0;
}
.error {
  color: red;
}
// Processing button animation 
.processing {
    background-color: #fff;
    color: @brand-primary;

    &:hover, &:active, &:focus {
        background-color: #fff;
        color: @brand-primary;
        box-shadow: none;
    }
}
.spinner {
  text-align: center;
  padding: 0 30px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: @brand-primary;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
} 