// 
// Modules
//

.project-name {
    font-size: 60px;
}
.project-tagline {
    font-size: 24px;
    opacity: 0.7;
    font-weight: 400;
}

// Dropzone styling
.dz-hidden-input {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}
.icon-upload {
    text-align: center;
    font-size: 60px;
}
.dz-message {
    margin: 10px 0 !important;
}